<div class="session-container">

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li id="login-tab" class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li id="register-tab"class="tab col s6"><a href="#register">Register</a></li>
      </ul>
    </div>
  </div>
</div>
<%= render 'shared/login_register' %>
