<h4 class="center-align">Your friend cancelled this challenge. How lame.</h4>

<div class="center-align">
  <%= link_to("Click Here to Return to Profile Page", user_path(current_user.id), {class: "waves-effect waves-light btn"}) %>
</div><br>

