/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1, h2, h3 {
  text-align: center;
 }

.hidden {
  visibility: hidden;
}

.nav-wrapper{
  background: rgb(232,156,120); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(232,156,120,1) 16%, rgba(110,95,223,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(232,156,120,1) 16%,rgba(110,95,223,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(232,156,120,1) 16%,rgba(110,95,223,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89c78', endColorstr='#6e5fdf',GradientType=0 ); /* IE6-9*/

}

#thumbupchallenger {
/*  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);*/

  max-height: 100px;
  padding: 20px;
  display: none;
}

#thumbupacceptor {
/*  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);*/
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  max-height: 100px;
  padding: 20px;
  display: none;
}

#challengerthumbybutton {
  /*background: #e89c78;*/
  /*float: left;*/
  height: 450px;
  /*width: auto;*/
}

#challenger-p {
  display: none;
}


#acceptor-p {
  display: none;
}

#acceptorthumbybutton {
  /*background: #6e5fdf;*/
  /*float: right;*/
  height: 450px;
}

.whole-page{
background: #f4f6f7; /* Old browsers */
background: -moz-linear-gradient(top, #f4f6f7 0%, #ecf1f8 37%, #e8eff8 51%, #e7eef9 68%, #dee7f4 84%, #e2ebf6 92%, #d3deed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f4f6f7 0%,#ecf1f8 37%,#e8eff8 51%,#e7eef9 68%,#dee7f4 84%,#e2ebf6 92%,#d3deed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f4f6f7 0%,#ecf1f8 37%,#e8eff8 51%,#e7eef9 68%,#dee7f4 84%,#e2ebf6 92%,#d3deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6f7', endColorstr='#d3deed',GradientType=0 ); /* IE6-9 */
  height: 1200px;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

.nav-wrapper{
  background: #ff5c59; /* Old browsers */
  background: -moz-linear-gradient(top, #ff5c59 0%, #ffaf72 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5c59 0%,#ffaf72 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5c59 0%,#ffaf72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c59', endColorstr='#ffaf72',GradientType=0 ); /* IE6-9 */
}

#shake-button {
  background-color: #ff5c59;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 20px;
  font-size: 30px;
}
