/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hidden {
  visibility: hidden;
}

.box {
  background: #EEE;
  height: 100px;
  width: 600px;
}

#thumbupchallenger {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  max-height: 100px;
  padding: 20px;
}

#thumbupacceptor {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  max-height: 100px;
  padding: 20px;
}

#challengerthumbybutton {
  background: #e89c78;
  /*float: left;*/
  height: 450px;
  /*width: auto;*/
}

#acceptorthumbybutton {
  background: #6e5fdf;
  /*float: right;*/
  height: 450px;
}

.whole-page{
  background: #fff4ef; /* Old browsers */
  background: -moz-linear-gradient(top, #fff4ef 0%, #ffebe1 84%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff4ef 0%,#ffebe1 84%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff4ef 0%,#ffebe1 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4ef', endColorstr='#ffebe1',GradientType=0 ); /* IE6-9 */
  height: 4000px;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

.nav-wrapper{
  background: rgb(232,156,120); /* Old browsers */
background: -moz-linear-gradient(top, rgba(232,156,120,1) 16%, rgba(110,95,223,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(232,156,120,1) 16%,rgba(110,95,223,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(232,156,120,1) 16%,rgba(110,95,223,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89c78 ', endColorstr='#6e5fdf ',GradientType=0 ); /* IE6-9*/
}

#shake-button {
  background-color: #6e5fdf;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 30px;
  font-size: 60px;
}

#challenge-row {

}
