<h4>Accept the Challenge!</h4>
<div id="challenge-row" class="row">
  <div class="col s6">
    <div id="acceptorthumbybutton" class="hidden">
      <img id="thumbupacceptor" src="http://www.clker.com/cliparts/t/x/1/j/4/B/thumbs-up-larger-hi.png" alt="thumbup">
      <p id="acceptor-p">Acceptor has joined!</p>
    </div>
  </div>
</div>
