<h1>Route GUUUUUUUUUUUUY</h1>

  <%= form_for :user, class: 'col s12', url: '/users' do |f| %>
    <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons right">CHALLENGE</i>
    </button>
  <% end %>
