<h1>Route GUUUUUUUUUUUUY</h1>

  <%= form_for :user, class: 'col s12', url: '/users' do |f| %>
    <%= f.button %>
  <% end %>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
