<h1>Route GUUUUUUUUUUUUY</h1>

<div class="panel-body" id="shakearea" data-challenge=<%=@challenge.id%>
  data-email=<%= current_user.email %>>
  <% if current_user.has_shook?(@challenge) %>
    <p>You already shook. Please wait</p>
  <% else %>
    <a class="the-shake-button waves-effect waves-light btn">Shakey Bakey</a>
  <% end %>
  <br>
  <% if shake_count == 1 %>
    <p>Your opponent is waiting...</p>
  <% end %>
</div>
